package error

import "github.com/yzaimoglu/base/utils/http"

templ BadRequest() {
	<div>400: Bad Request</div>
	<div>Request ID: { http_utils.RequestID(ctx) }</div>
}

templ NotFound() {
	<div>404: Not Found</div>
	<div>Request ID: { http_utils.RequestID(ctx) }</div>
}

templ InternalServerError() {
	<div>500: Internal Server Error</div>
	<div>Request ID: { http_utils.RequestID(ctx) }</div>
}
