package home

import "github.com/yzaimoglu/base/utils/http"

templ Test() {
}

templ Show() {
	<div>
		<p>
			RequestID:
			<br/>
			{ http_utils.RequestID(ctx) }
		</p>
		<p>
			Current Path:
			<br/>
			{ http_utils.CurrentPath(ctx) }
		</p>
	</div>
}
