package home

import "github.com/yzaimoglu/base/utils/http"

templ Test() {
	<div class="bg-slate-500">
		<button class="uk-button uk-button-secondary">Test</button>
		<button class="uk-button uk-button-primary">Test</button>
	</div>
}

templ Show() {
	<div>
		<p>
			RequestID:
			<br/>
			{ http_utils.RequestID(ctx) }
		</p>
		<p>
			Current Path:
			<br/>
			{ http_utils.CurrentPath(ctx) }
		</p>
	</div>
}
